.para5{
    font-size: medium;
}
.heading-3{
    margin-top: 20px;
    width: 70%;
    transform: translateX(0%);
}
.div-left{
    width: 15%;
    height: 20px;
}
.utopia-roadstar{
    font-size: 58px;
}
.heading-main2{
    margin-top: -20px;
}


